<div class="table-container" style="margin-top: 2rem">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell class="form-field-container" *matHeaderCellDef>
        Tên đăng nhập
      </th>
      <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell class="form-field-container" *matHeaderCellDef>Họ tên</th>
      <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell class="form-field-container" *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user" (click)="deleteUser(user)">
        <button mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row
        *matRowDef="let dataSource; columns: columnsToDisplay"></tr>
  </table>
</div>
