.form {
  position: absolute;
  top: 30%;
  left: 35%;
  right: 35%;
  padding: 2rem;
  border-radius: 10px;
  background-color: lightblue;
}

.input {
  width: 100%
}

button {
  margin-top: 1rem
}


